In [5]:
import pandas as pd

In [ ]:
# Load the student data CSV file and take a look at the data headers and first few rows.

In [2]:
data_to_load = "Resources/students_complete.csv"

In [3]:
student_data_df = pd.read_csv(data_to_load)

In [4]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [ ]:
# Put the student names in a separate list.

In [6]:
student_names = student_data_df["student_name"].tolist()

In [ ]:
# Create an empty list to store student names we need to check

In [20]:
names_to_check = []

In [ ]:
# If a name has more than two elements, add it to the names_to_check list

In [22]:
for name in student_names:
    if len(name.split()) > 2:
        names_to_check.append(name)

In [ ]:
# Count how many names need to be checked

In [26]:
print(len(names_to_check))

1531

In [ ]:
# Create a list to store name prefixes

In [27]:
prefixes = []

In [ ]:
# If the first element of a name is no more than 4 characters long, add it to the prefixes list

In [28]:
for name in names_to_check:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

In [ ]:
# Create a list to store name suffixes

In [37]:
suffixes = []

In [ ]:
# Use 3 as the character limit for suffixes, since that seems to be the max length for the offenders 
# e.g. MD, DVM, DDS

In [38]:
for name in names_to_check:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])

In [ ]:
# Get the unique valules from the prefixes list

In [40]:
set(prefixes)

{'Adam',
 'Amy',
 'Anna',
 'Anne',
 'Carl',
 'Chad',
 'Cody',
 'Cory',
 'Dale',
 'Dana',
 'Dawn',
 'Dr.',
 'Emma',
 'Eric',
 'Erik',
 'Erin',
 'Gail',
 'Gary',
 'Gina',
 'Greg',
 'Ian',
 'Jill',
 'Jodi',
 'Joe',
 'John',
 'Jon',
 'Jose',
 'Judy',
 'Kara',
 'Kari',
 'Kim',
 'Kyle',
 'Leah',
 'Lisa',
 'Lori',
 'Luke',
 'Lynn',
 'Marc',
 'Mark',
 'Mary',
 'Mike',
 'Miss',
 'Mr.',
 'Mrs.',
 'Ms.',
 'Noah',
 'Omar',
 'Paul',
 'Ruth',
 'Ryan',
 'Sara',
 'Sean',
 'Seth',
 'Tara',
 'Tina',
 'Todd',
 'Toni',
 'Tony',
 'Troy'}

In [ ]:
# Prefixes to remove: Dr., Miss, Mr., Mrs., Ms.

In [41]:
set(suffixes)

{'Cox',
 'DDS',
 'DVM',
 'Day',
 'II',
 'III',
 'IV',
 'Jr.',
 'Kim',
 'Lee',
 'Li',
 'MD',
 'PhD',
 'Roy',
 'V'}

In [ ]:
# Suffixes to remove: DDS, DVM, MD, PhD

In [ ]:
# Create a list of the prefixes and suffixes to remove, including space before or after as needed

In [44]:
prefixes_suffixes = ["Dr. ", "Miss ", "Mr. ", "Mrs. ", "Ms. ", " DDS", " DVM", " MD", " PhD"]

In [ ]:
# Iterate through prefixes/suffixes and replace them with an empty string wherever they appear in the student names
# Have to make the names into strings first (they're stored as objects now)

In [46]:
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")

C:\Users\cathe\anaconda3\envs\PythonData2\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
# Create another list of all the student names

In [53]:
student_names = student_data_df["student_name"].tolist()

In [ ]:
# Put all the student names that still have at least 3 elements in another list

In [54]:
students_fix = []

In [55]:
for name in student_names:
    if len(name.split()) > 2:
        students_fix.append(name)

In [ ]:
# Count how many student names have 3 or more elements

In [56]:
len(students_fix)

151

In [ ]:
# Looks good!

In [57]:
students_fix

['Joseph Morales III',
 'Xavier Bell II',
 'David Miller Jr.',
 'Reginald Garcia IV',
 'Kevin Brown IV',
 'William Washington Jr.',
 'Juan Bryant II',
 'Kenneth Paul Jr.',
 'Scott Rivers III',
 'Mark Myers Jr.',
 'Michael Norton Jr.',
 'Sean Pena Jr.',
 'Cody Mueller Jr.',
 'Mathew White Jr.',
 'Jason Daugherty Jr.',
 'Leonard Webster II',
 'Michael Stein Jr.',
 'Ryan Phillips Jr.',
 'Allen Snyder Jr.',
 'Calvin Williams Jr.',
 'Ronald Torres Jr.',
 'Gabriel Smith III',
 'Brian Pitts Jr.',
 'Bruce Thompson II',
 'Jeremy Sanders II',
 'Austin Johnson II',
 'Bryan Conway Jr.',
 'Ronald Moore II',
 'Robert Garrison IV',
 'William Gonzalez Jr.',
 'Brian Matthews Jr.',
 'Eric Richards Jr.',
 'Kenneth Munoz Jr.',
 'Jon Delgado Jr.',
 'Andrew English Jr.',
 'Raymond Cox Jr.',
 'Jeffrey Mcclain Jr.',
 'Brian Poole V',
 'Jeffrey Kim II',
 'Matthew Alexander Jr.',
 'Kevin Reynolds Jr.',
 'Jacob Skinner Jr.',
 'Dennis Gibson Jr.',
 'Jimmy Shea Jr.',
 'James Reed Jr.',
 'Jeffery Baker Jr.',
 'Derrick Hughes III',
 'Joshua Rivera Jr.',
 'Timothy Guzman Jr.',
 'Lonnie Allen II',
 'Tyrone Clark III',
 'Jeffrey Nelson Jr.',
 'Michael Mann II',
 'David Johnson Jr.',
 'Timothy Chavez Jr.',
 'Brian Powell III',
 'Lance Rangel Jr.',
 'Noah Herrera Jr.',
 'Eric Johnson Jr.',
 'Victor Chavez II',
 'Richard Ellis Jr.',
 'Charles Goodman Jr.',
 'Michael Singh Jr.',
 'Jonathan Smith Jr.',
 'Allen Morris Jr.',
 'Aaron Solis Jr.',
 'Daniel Mckinney Jr.',
 'Christopher Petty Jr.',
 'Michael Garcia Jr.',
 'Charles Short II',
 'Derek Barker Jr.',
 'Zachary Garrett III',
 'Thomas Harrison Jr.',
 'Andrew Mitchell V',
 'Aaron Davis Jr.',
 'Brian Bailey Jr.',
 'Jeremiah Morris IV',
 'David Morales Jr.',
 'Larry Chandler Jr.',
 'James Clark II',
 'Cameron Roman Jr.',
 'Christopher Smith Jr.',
 'Todd Grant Jr.',
 'Kenneth Avila Jr.',
 'Jason Lopez Jr.',
 'Dwayne Mathis Jr.',
 'Colton Collins II',
 'Chris Palmer III',
 'Tyler Randall Jr.',
 'Joseph Morgan IV',
 'Carlos Adkins Jr.',
 'Mark Livingston Jr.',
 'Michael Williams III',
 'Eric Evans III',
 'Christopher Thornton Jr.',
 'Adam Hayes III',
 'Michael Moore Jr.',
 'Joseph Hudson II',
 'William Brooks Jr.',
 'Daniel Welch II',
 'Roger Horton Jr.',
 'Cory Marshall II',
 'Joshua Thompson Jr.',
 'Jon Flores II',
 'Philip Jones Jr.',
 'Greg Joyce Jr.',
 'Thomas Frye Jr.',
 'Joseph Marquez Jr.',
 'Robert Smith Jr.',
 'David Beck Jr.',
 'Ryan Gomez II',
 'Erik Smith Jr.',
 'Omar Thompson Jr.',
 'Leonard Roberts Jr.',
 'Duane Li Jr.',
 'Richard Lucero Jr.',
 'Seth Medina Jr.',
 'Anthony Carlson Jr.',
 'Edward Dudley II',
 'Matthew Lewis Jr.',
 'Christopher Bowers Jr.',
 'Timothy Hughes Jr.',
 'Kevin Hoover IV',
 'David Butler Jr.',
 'Michael Wilson Jr.',
 'George Hess Jr.',
 'Kevin Briggs Jr.',
 'Joseph Matthews III',
 'Dylan Bailey Jr.',
 'Anthony Woods Jr.',
 'Michael Harris Jr.',
 'Daniel Diaz Jr.',
 'Taylor Thompson Jr.',
 'Daniel Robinson Jr.',
 'Ronald Phelps Jr.',
 'Jonathan Reid II',
 'Joshua Smith Jr.',
 'Joseph Herrera III',
 'Tony Robertson II',
 'James Fowler III',
 'William Wright II',
 'Thomas Carrillo II',
 'Matthew Bennett Jr.',
 'Mark Lucas IV',
 'Keith Newman Jr.',
 'Matthew Mitchell III',
 'Colin Schultz II',
 'Terry Scott Jr.',
 'Jason Patel Jr.',
 'Steven Lewis Jr.',
 'Lucas Williams Jr.']