In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

C:\Users\cathe\anaconda3\envs\PythonData2\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.
### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [10]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(
    student_data_df["school_name"] == "Thomas High School") & (
    student_data_df["grade"] == "9th"), "reading_score"] = np.nan

student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [4]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.

student_data_df.loc[(
    student_data_df["school_name"] == "Thomas High School") & (
    student_data_df["grade"] == "9th"), "math_score"] = np.nan

student_data_df.loc[(
    student_data_df["school_name"] == "Thomas High School") & (
    student_data_df["grade"] == "9th")]

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
37537,37537,Erik Snyder,M,9th,Thomas High School,NaN,NaN
37538,37538,Tanya Martinez,F,9th,Thomas High School,NaN,NaN
37539,37539,Noah Erickson,M,9th,Thomas High School,NaN,NaN
37540,37540,Austin Meyer,M,9th,Thomas High School,NaN,NaN
37543,37543,Madison Hampton,F,9th,Thomas High School,NaN,NaN
...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,NaN,NaN
39153,39153,William Hubbard,M,9th,Thomas High School,NaN,NaN
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,NaN,NaN
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN

In [11]:
#  Step 4. Check the student data for NaN's. 

student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [ ]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

In [ ]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [ ]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [ ]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 


# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()


# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.

In [ ]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [ ]:
# Step 3. Calculate the passing percentages with the new total student count.

In [ ]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.

In [ ]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

## School Summary

In [ ]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


# per_school_summary_df.head()

In [ ]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

In [ ]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).

In [ ]:
# Step 6. Get all the students passing math from THS

In [ ]:
# Step 7. Get all the students passing reading from THS

In [ ]:
# Step 8. Get all the students passing math and reading from THS

In [ ]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School.

In [ ]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.

In [ ]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School.

In [ ]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.

In [ ]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.

In [ ]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.

In [ ]:
# per_school_summary_df

## High and Low Performing Schools

In [ ]:
# Sort and show top five schools.

In [ ]:
# Sort and show top five schools.

## Math and Reading Scores by Grade

In [ ]:
# Create a Series of scores by grade levels using conditionals.


# Group each school Series by the school name for the average math score.


# Group each school Series by the school name for the average reading score.

In [ ]:
# Combine each Series for average math scores by school into single data frame.

In [ ]:
# Combine each Series for average reading scores by school into single data frame.

In [ ]:
# Format each grade column.

In [ ]:
# Remove the index.


# Display the data frame

In [ ]:
## Remove the index.


# Display the data frame

## Scores by School Spending

In [ ]:
# Establish the spending bins and group names.


# Categorize spending based on the bins.

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Create the DataFrame

In [ ]:
# Format the DataFrame

## Scores by School Size

In [ ]:
# Establish the bins.

# Categorize spending based on the bins.

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame.

In [ ]:
# Format the DataFrame

## Scores by School Type

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame.

In [ ]:
# # Format the DataFrame

In [ ]:
# Add the pandas dependency

In [ ]:
import pandas as pd

In [ ]:
# Files to load

In [ ]:
school_data_to_load = "Resources/schools_complete.csv"

In [ ]:
student_data_to_load = "Resources/students_complete.csv"

In [ ]:
#Store data from the school and student data files in pandas DataFrames

In [ ]:
school_data_df = pd.read_csv(school_data_to_load)

In [ ]:
student_data_df = pd.read_csv(student_data_to_load)

In [ ]:
student_data_df.tail()

In [ ]:
# Determine if there are any missing values in the data

In [ ]:
school_data_df.count()

In [ ]:
student_data_df.count()

In [ ]:
# Look for missing values another way

In [ ]:
school_data_df.isnull()

In [ ]:
# The same method would be hard to evaluate on the much bigger student data set. Instead:

In [ ]:
student_data_df.isnull().sum()

In [ ]:
school_data_df.dtypes

In [ ]:
student_data_df.dtypes

In [ ]:
# Create list of prefixes and suffixes that need to be removed from names

In [ ]:
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [ ]:
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")

In [ ]:
student_data_df.head(10)

In [ ]:
# Review column names to find a column that is common to both dataframes

In [ ]:
school_data_df.columns

In [ ]:
student_data_df.columns

In [ ]:
# Merge the dataframes

In [ ]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])

In [ ]:
school_data_complete_df.head()

In [ ]:
# Get the total number of students

In [ ]:
student_count = school_data_complete_df["Student ID"].count()

In [ ]:
student_count

In [ ]:
# Get the total number of schools

In [ ]:
school_count2 = len(school_data_complete_df["school_name"].unique())

In [ ]:
school_count2

In [ ]:
# Calculate the total budget

In [ ]:
total_budget = school_data_df["budget"].sum()

In [ ]:
total_budget

In [ ]:
average_reading_score = school_data_complete_df["reading_score"].mean()

In [ ]:
average_reading_score

In [ ]:
average_math_score = school_data_complete_df["math_score"].mean()

In [ ]:
average_math_score

In [ ]:
# Get all the students who passed math and reading in separate dataframes.

In [ ]:
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]

In [ ]:
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [ ]:
# Count the number of students who passed math and reading

In [ ]:
len(passing_math)

In [ ]:
passing_math_count = passing_math["student_name"].count()

In [ ]:
passing_math_count

In [ ]:
passing_reading_count = passing_reading["student_name"].count()

In [ ]:
passing_reading_count

In [ ]:
# Calculate the passing percentages for math and reading

In [ ]:
passing_math_percentage = passing_math_count / float(student_count) * 100

In [ ]:
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [ ]:
# Get all student who passed both math and reading

In [ ]:
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & 
                                               (school_data_complete_df["reading_score"] >= 70)]

In [ ]:
# Get count of students who passed both math and reading

In [ ]:
passing_math_reading["student_name"].count()

In [ ]:
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

In [ ]:
overall_passing_math_reading_count

In [ ]:
# Calculate percentage of students who passed both math and reading

In [ ]:
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100

In [ ]:
overall_passing_percentage

In [ ]:
# Add a list of keys and values to create a new dataframe

In [ ]:
district_summary_df = pd.DataFrame(
    [{"Total Schools": school_count2,
     "Total Students": student_count,
     "Total Budget": total_budget,
      "Average Math Score": average_math_score,
      "Average Reading Score": average_reading_score,
      "% Passing Math": passing_math_percentage,
      "% Passing Reading": passing_reading_percentage,
      "% Overall Passing": overall_passing_percentage}])

In [ ]:
district_summary_df

In [ ]:
# Format the Total Students figure to inclue a thousands separator comma

In [ ]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

In [ ]:
district_summary_df["Total Students"]

In [ ]:
# Format Total Budget figure to have a comma for thousands separator, a decimal separator and a dollar sign

In [ ]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

In [ ]:
district_summary_df["Total Budget"]

In [ ]:
# Format other columns

In [ ]:
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

In [ ]:
district_summary_df["Average Math Score"]

In [ ]:
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

In [ ]:
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

In [ ]:
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

In [ ]:
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [ ]:
district_summary_df

In [ ]:
# Create a school summary datafram that shows the following:
# School name, school type, total students, total school budget, per student budget, avg math score, avg reading score
# % passing math, % passing reading, % overall passing

In [ ]:
# Let's remember what the school_data_df looks like

school_data_df

In [ ]:
# We need a dataframe that uses school_name as the index. 

per_school_types = school_data_df.set_index(["school_name"])["type"]

df = pd.DataFrame(per_school_types)

df

In [ ]:
# Get the total student count per school

per_school_counts = school_data_df.set_index(["school_name"])["size"]

per_school_counts

In [ ]:
# Calculate the total student count per school another way

per_school_counts = school_data_complete_df["school_name"].value_counts()

per_school_counts

In [ ]:
school_data_df.head()

In [ ]:
# Get the total school budget

per_school_budget = school_data_df.set_index(["school_name"])["budget"]

per_school_budget

In [ ]:
# Calculate the budget per student

per_school_capita = per_school_budget / per_school_counts

per_school_capita

In [ ]:
# Calculate the average math and reading scores using groupby function and mean method.

per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
per_school_math

In [ ]:
per_school_reading

In [ ]:
# To get the passing percentages, we need to:
# 1. Determine threshold for passing grade
# 2. Get the number of students who passed math and reading
# 3. Get the students who passed math AND reading

In [ ]:
# Find the passing scores by creating a filtered dataframe

per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [ ]:
# Calculate the number of students at each school who passed both math and reading

per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
per_school_passing_math

In [ ]:
per_school_passing_reading

In [ ]:
# Calculate the percentage of students passing math and reading at each school

per_school_passing_math = per_school_passing_math / per_school_counts * 100

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [ ]:
per_school_passing_math

In [ ]:
per_school_passing_reading

In [ ]:
# Get the students who passed both math and reading

per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & 
                                                   (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

In [ ]:
# Calculate the number of students who passed both math and reading

per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
per_passing_math_reading

In [ ]:
# Calculate the overall passing percentage for each school

per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
per_overall_passing_percentage

In [ ]:
# Create the school summary dataframe
# Add a list of keys and values

per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})

per_school_summary_df.head(2)

In [ ]:
# Do some formatting
# Format the Total School Budget and Per Student Budget column headers

per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

In [ ]:
per_school_summary_df.head(2)

In [ ]:
# Sort and show top five schools

top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending = False)

top_schools.head()

In [ ]:
# Sort and show bottom five schools.

bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending = True)

bottom_schools.head()

In [ ]:
# Get average scores for each grade by school
# First remember what the school data looks like
school_data_complete_df.head()

In [ ]:
# Create dataframes for each grade

ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

twelfth_graders.head()

In [ ]:
# Get the average math scores by grade and school

ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores

In [ ]:
# Get the average reading scores by grade and school

ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores

In [ ]:
# Combine each grade-level series for average math scores by grade and school 
# into a new dataframe

math_scores_by_grade = pd.DataFrame({
                                    "9th": ninth_grade_math_scores,
                                    "10th": tenth_grade_math_scores,
                                    "11th": eleventh_grade_math_scores,
                                    "12th": twelfth_grade_math_scores})

math_scores_by_grade.head()

In [ ]:
# Do the same thing for reading scores

reading_scores_by_grade = pd.DataFrame({
                                    "9th": ninth_grade_reading_scores,
                                    "10th": tenth_grade_reading_scores,
                                    "11th": eleventh_grade_reading_scores,
                                    "12th": twelfth_grade_reading_scores})

reading_scores_by_grade.head()

In [ ]:
# Format the grade columns
# This raised an error ("Unknown format code 'f' for object of type 'str'"") several 
# times before finally working for no apparent reason.

math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

math_scores_by_grade.head()

In [ ]:
math_scores_by_grade.index.name = None

math_scores_by_grade

In [ ]:
# Do the same thing to the reading scores dataframe

reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:.1f}".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:.1f}".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:.1f}".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:.1f}".format)

reading_scores_by_grade.head()

In [ ]:
reading_scores_by_grade.index.name = None

reading_scores_by_grade

In [ ]:
# Remember the budget per student data?

per_school_capita

In [ ]:
per_school_capita.describe()

In [ ]:
# Create spending bins to group the per-student budgets

spending_bins = [0, 585, 630, 645, 675]

In [ ]:
# Use the cut function to group the data into the spending bins

per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

In [ ]:
# Establish the group names

group_names = ["<$586", "$586-630", "$631-645", "$646-675"]

In [ ]:
# Categorize spending based on the bins

per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(
                                                                per_school_capita, 
                                                                spending_bins,
                                                                labels=group_names)

per_school_summary_df.head(5)

In [ ]:
# Calculate averages for the desired columns
# They want us to calculate averages of averages?? That seems misleading.

spending_math_scores = per_school_summary_df.groupby([
        "Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby([
        "Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby([
        "Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby([
        "Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby([
        "Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
overall_passing_spending

In [ ]:
# Now for another dataframe!

spending_summary_df = pd.DataFrame({
    "Average Math Score" : spending_math_scores,
    "Average Reading Score" : spending_reading_scores,
    "% Passing Math" : spending_passing_math,
    "% Passing Reading" : spending_passing_reading,
    "% Overall Passing" : overall_passing_spending})

spending_summary_df

In [ ]:
# Do some formatting
# This kept kicking up an error, just like the formatting code above, until eventually
# it worked by running each line one at a time -- even though it wouldn't let me run
# the first line by itself to begin with

spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

In [ ]:
spending_summary_df

In [ ]:
# Now remember the student counts per school?

per_school_counts

In [ ]:
# Set up the school size bins

size_bins = [9, 999, 1999, 5000]

group_names = ["Small (<1000)", "Medium (1000-1999)", "Large (2000-5000)"]

In [ ]:
# Categorize spending based on the size bins
per_school_summary_df["School Size"] = pd.cut(
    per_school_summary_df["Total Students"], size_bins, labels=group_names)

per_school_summary_df.head(2)

In [ ]:
# Calculate averages

size_math_scores = per_school_summary_df.groupby([
    "School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary_df.groupby([
    "School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby([
    "School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary_df.groupby([
    "School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby([
    "School Size"]).mean()["% Overall Passing"]

In [ ]:
# Create a size summary dataframe

size_summary_df = pd.DataFrame({
    "Average Math Score" : size_math_scores,
    "Average Reading Score" : size_reading_scores,
    "% Passing Math" : size_passing_math,
    "% Passing Reading" : size_passing_reading,
    "% Overall Passing" : size_overall_passing})

In [ ]:
size_summary_df

In [ ]:
# Formatting time!
# Again, this was super buggy but eventually worked

size_summary_df["Average Math Score"] = size_summary_df[
    "Average Math Score"].map("{:.1f}".format)
size_summary_df["Average Reading Score"] = size_summary_df[
    "Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df[
    "% Passing Math"].map("{:.0f}".format)
size_summary_df["% Passing Reading"] = size_summary_df[
     "% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df[
      "% Overall Passing"].map("{:.0f}".format)

In [ ]:
size_summary_df

In [ ]:
per_school_summary_df.head(2)

In [ ]:
# Calculate averages by school type

type_math_scores = per_school_summary_df.groupby([
    "School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary_df.groupby([
    "School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby([
    "School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary_df.groupby([
    "School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby([
    "School Type"]).mean()["% Overall Passing"]

In [ ]:
# Create dataframe for scores by school type

type_summary_df = pd.DataFrame({
   "Average Math Score" : type_math_scores,
   "Average Reading Score" : type_reading_scores,
   "% Passing Math" : type_passing_math,
   "% Passing Reading" : type_passing_reading,
   "% Overall Passing" : type_overall_passing})

type_summary_df

In [ ]:
# Formatting. Doing this in separate lines of code this time, since it kept
# erroring before when I tried to do it in a block.

type_summary_df["Average Math Score"] = type_summary_df[
    "Average Math Score"].map("{:.1f}".format)

In [ ]:
type_summary_df["Average Reading Score"] = type_summary_df[
    "Average Reading Score"].map("{:.1f}".format)

In [ ]:
type_summary_df["% Passing Math"] = type_summary_df[
    "% Passing Math"].map("{:.0f}".format)

In [ ]:
type_summary_df["% Passing Reading"] = type_summary_df[
    "% Passing Reading"].map("{:.0f}".format)

In [ ]:
type_summary_df["% Overall Passing"] = type_summary_df[
    "% Overall Passing"].map("{:.0f}".format)

In [ ]:
type_summary_df